%section.concerts-today
  %h1.home-title Check today's concerts!
  .concerts-list
    - @concerts_today.each do |c|
      = render 'concert_loop', concert: c

%section.concerts-later
  %h1.home-title Later this month

  .concerts-list
    - @concerts_later.each do |c|
      = render 'concert_loop', concert: c
