%h1 Check the concerts for today!

%section.concerts-list
  - @concerts_today.each do |c|
    = render 'concert_loop', concert: c

%h1 And later this month...

%section.concerts-list
  - @concerts_later.each do |c|
    = render 'concert_loop', concert: c
