.btn {
  border-radius: 4px;
  border: 1px solid #CCC;
  color: #CCC;
  margin-left: 10px;

  &--blue {
    border: 1px solid #3AC4FF;
    color: #3AC4FF!important;
    background: transparent;

    &:hover {
      color: #000!important;
      background: #3AC4FF;
    }
  }

  &--block {
    width: 100%;
    padding: .8rem 1rem;
  }
}
