.footer {
  height: 80px;
  background-color: #3b4044;
  color: #D8D8D8;
  font-size: .8rem;

  p {
    margin-top: 1.2rem;
  }

  a {
    text-decoration: none;
    color:  #3AC4FF;
  }

  .red {
    color: #F00;
  }
}
