form {
  width: 50%;
}

fieldset {
  border: 0;
  margin: 0 0 1rem 0;
  padding: 0;
}

label {
  display: inline-block;
  margin-bottom: .8rem;
}

input, textarea {
  padding: .6rem 1rem;
  border-radius: 3px;
  border: 1px solid #D8D8D8;
  width: 100%;
  background: #FFF;
}
