* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background: #F1F1F1;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import "buttons";
@import "comments";
@import "concerts";
@import "footer";
@import "forms";
@import "header";

.container {
  padding: 1em;
  padding: 1em calc(50% - 500px);
  overflow: hidden;
}

.home-title {
  color: #565656;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0 0 2rem 0;
  text-transform: uppercase;
}

hr {
  border: 1px solid #E4E4E4;
}

.left {
  float: left;
}

.right {
  float: right;
}
